@font-face {
  font-family: "Braille";
  src: url(fonts/Braille.ttf) format("truetype");
  font-weight: normal;
}

body {
  margin: 0;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.head {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Braille", sans-serif;
  font-size: 25px;
  padding-top: 20px;
}
