@font-face {
  font-family: "Braille";
  src: url(fonts/Braille.ttf) format("truetype");
  font-weight: normal;
}

body {
  margin: 0;
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Braille", sans-serif;
  font-size: 25px;
  padding-top: 20px;
}

.rock {
  cursor: pointer;
}
